<div fxLayout="row">
    <div fxFlex="100%" fxLayoutGap="20px">
        <mat-card class="title-card mat-elevation-z4" fxFlex="25%">
            <mat-card-content layout-align="center center">
                <button fxFlex mat-raised-button color="primary">Criar Quadro</button>
            </mat-card-content>
        </mat-card>
        <mat-card *ngFor="let quadro of quadros" class="title-card mat-elevation-z4" fxFlex="25%">
            <mat-card-content layout-align="center center">
                <button fxFlex mat-button>{{quadro.titulo}}</button>
            </mat-card-content>
        </mat-card>
    </div>
</div>