<div fxLayout="row wrap" fxFlex="100%" fxLayoutGap="20px">
    <mat-card class="main-card title-card mat-elevation-z4" fxFlex="20%">
        <mat-card-content layout-align="center center">
            <button (click)="openQuadroForm()" fxFlex mat-raised-button color="primary">Criar Quadro</button>
        </mat-card-content>
    </mat-card>
    <mat-card *ngFor="let quadro of quadros" class="main-card title-card mat-elevation-z4" fxFlex="20%">
        <mat-card-content layout-align="center center">
            <button fxFlex mat-button>{{quadro.titulo}}</button>
        </mat-card-content>
    </mat-card>
</div>